{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
        {% if debug %}
        <script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/widgets/init.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/widgets/calendar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pages/init.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pages/calendar.js' %}"></script>
        {% else %}
        <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
        {% endif %}
    </head>
    <body>
        {% block sidebar %}{% include "sidebar.html" %}{% endblock %}
        <section role="main">{% block main %}{% endblock %}</section>
        {% block menu %}{% endblock %}
    </body>
</html>
