{% extends "base.html" %}

{% load staticfiles i18n %}

{% block sidebar %}{% include "sidebar.html" with section='calendar' %}{% endblock %}

{% block main %}
<div id="calendar"></div>
<script type="text/javascript">
var calendar;
calendar = new widgets.Calendar(document.getElementById('calendar'), {
    days: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'],
    months: ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'],
    prev: 'previous',
    next: 'next',
    today: 'today'
});
view = new views.Calendar(calendar);
</script>
{% endblock %}

{% block menu %}
<aside role="menu">
    <h1>{% trans "Calendar" %}</h1>
    <ul>
        <li><span onclick="view.selectDay()">{% trans "Select day" %} / {% trans "Deselect day" %}</span></li>
        <li><span onclick="view.selectHalfDay()">{% trans "Select half day" %}</span></li>
        <li><span onclick="view.selectWorkweek()">{% trans "Select workweek" %}</span></li>
        <li><span onclick="view.selectWeek()">{% trans "Select week" %}</span></li>
        <li><a href="{% url 'invoice_new' %}">{% trans "Create invoice" %}</a></li>
    </ul>
</aside>
{% endblock %}