{% extends "base.html" %}

{% load staticfiles i18n %}

{% block sidebar %}{% include "sidebar.html" with section='clients' %}{% endblock %}

{% block main %}
<form id="form" method="POST" enctype="multipart/form-data" autocomplete="off" spellcheck="false">
    {% csrf_token %}
    <table class="transposed form">
        {% for field in form %}
        <tr><th>{{field.label}}</th><td>{{field}}</td></tr>
        {% endfor %}
    </table>
</form>
{% endblock %}

{% block menu %}
<aside role="menu">
    <h1>{% trans "Edit client" %}</h1>
    <ul>
        <li><span onclick="document.getElementById('form').submit();">{% trans "Save" %}</span></li>
        <li><span>{% trans "Delete" %}</span></li>
        <li><span>{% trans "Cancel" %}</span></li>
    </ul>
</aside>
{% endblock %}
