{% extends "base.html" %}

{% load i18n %}

{% block main_class%}
client-list
{% endblock %}

{% block js %}
<script type="text/javascript">
    NEW_URL = '{% url "client_new" %}';
    EDIT_URL = undefined;
    LIST_URL = '{% url "clients" %}';
</script>
{{block.super}}
{% endblock %}

{% block messages %}
{{block.super}}
<div id="msg-object-created" class="message message-info hidden">{% trans "Client created" %}.</div>
<div id="msg-object-updated" class="message message-info hidden">{% trans "Client updated" %}.</div>
<div id="msg-object-deleted" class="message message-info hidden">{% trans "Client deleted" %}.</div>
{% endblock %}

{% block content %}
<header>
    <div class="breadcrumbs" role="navigation">
        <a href="/" class="glyphicon glyphicon-home" title="{% trans 'Home' %}"></a>
        / <span>{% trans "Invoices" %}</span>
        / <h2>{% trans "Clients" %}</h2>
    </div>
    <div class="header-buttons">
        <button data-toggle="modal" data-target="#object-new"><i class="glyphicon glyphicon-plus"></i>{% trans "New client" %}</button>
    </div>
</header>
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Address" %}</th>
            <th>{% trans "Email" %}</th>
        </tr>
    </thead>
    <tbody>
        {% include "partials/client_list.html" %}
    </tbody>
</table>
{% endblock %}

{% block modals %}
<div class="modal fade" id="object-new" tabindex="-1" role="dialog" aria-labelledby="new" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <span class="modal-title">{% trans "New client" %}</span>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
                <button class="text-primary" onclick="submitForm(this)">{% trans "Create" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="object-edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <span class="modal-title">{% trans "Edit client" %}</span>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
                <button class="text-danger" onclick="deleteObject(event)">{% trans "Delete" %}</button>
                <button class="text-primary" onclick="submitForm(this)">{% trans "Update" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
