{% extends "base.html" %}

{% load i18n %}

{% block body_id %}home{% endblock %}

{% block sidebar %}{% include "sidebar.html" with section='home' %}{% endblock %}

{% block main %}

<section id="last-activity">
    <h1>{% trans "Last 90 days activity" %}</h1>

    {% if last_edited_invoices %}
    <section>
        <h2>{% trans "Edited invoices" %}</h2>
        {% include "partials/invoice_list.html" with object_list=last_edited_invoices %}
    </section>
    {% endif %}

    {% if draft_invoices %}
    <section>
        <h2>{% trans "Draft invoices" %}</h2>
        <h3>{% trans "Days and settings editable" %}</h3>
        {% include "partials/invoice_list.html" with object_list=draft_invoices %}
    </section>
    {% endif %}

    {% if saved_invoices %}
    <section>
        <h2>{% trans "Saved invoices" %}</h2>
        <h3>{% trans "Pending to send to the client" %}</h3>
        {% include "partials/invoice_list.html" with object_list=saved_invoices %}
    </section>
    {% endif %}

    <section class="money-status">
        <h2>{% trans "Money status" %}</h2>
        <div><label>{% trans "Paid invoices" %}</label><span>{{money_status.paid}}</span></div>
        <div><label>{% trans "Unpaid invoices" %}</label><span>{{money_status.unpaid}}</span></div>
        <div><label>{% trans "Unsent invoices" %}</label><span>{{money_status.unsent}}</span></div>
    </section>

</section>

{% endblock %}

