{% extends "base.html" %}

{% load staticfiles i18n %}

{% block main %}
<table class="full">
    <thead>
        <tr>
            <th>{% trans "Number" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Client" %}</th>
            <th class="number">{% trans "Subtotal" %} (&pound;)</th>
            <th class="number">{% trans "Tax" %} (&pound;)</th>
            <th class="number">{% trans "Total" %} (&pound;)</th>
            <th>{% trans "Paid" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'invoice' object.number %}">{{object.number}}</a></td>
            <td>{% if object.date_sent %}{{object.date_sent|date:"d/m/Y"}}{% endif %}</td>
            <td>{{object.client.name}}</td>
            <td class="number">{{object.subtotal|floatformat:2}}</td>
            <td class="number">{{object.tax|floatformat:2}}</td>
            <td class="number">{{object.total|floatformat:2}}</td>
            <td>{% if object.date_paid %}<time datetime="{{object.date_paid}}">{{object.date_paid|date:"d/m/Y"}}</time>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
