{% extends "base.html" %}

{% load staticfiles i18n %}

{% block sidebar %}{% include "sidebar.html" with section='invoices' %}{% endblock %}

{% block main %}
<table class="full">
    <thead>
        <tr>
            <th>{% trans "Number" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Client" %}</th>
            <th>{% trans "Status" %}</th>
            <th class="number">{% trans "Total" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'invoice' object.number %}">{{object.number}}</a></td>
            <td>{% if object.date %}{{object.date__str}}{% endif %}</td>
            <td>{{object.client.name}}</td>
            <td>{% if object.status == 0 %}{% trans "Draft" %}
                {% elif object.status == 1 %}{% trans "Saved" %}
                {% elif object.status == 2 %}{% trans "Sent" %}
                {% else %}{% trans "Paid" %}{% endif %}</td>
            <td class="number">{{object.total__str}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block menu %}
<aside role="menu">
    <h1>{% trans "Invoices" %}</h1>
    <ul>
        <li><a href="{% url 'invoice_new' %}?from=file">{% trans "New from file" %}</a></li>
        <li><a href="{% url 'invoice_new' %}">{% trans "New from calendar" %}</a></li>
    </ul>
</aside>
{% endblock %}
