body {
    @gap: 20px;
    @nav-width: 52px;
    @menu-width: 270px;
    position: relative;
    height: 100%;
    color: @text-color;
    font-family: 'Ubuntu'; font-weight: 300; font-size: 17px;
    > [role=nav] {
        position: fixed; top: 0; left: 0;
        width: @nav-width; height: 100%;
        z-index: 100;
        background-color: @secondary-color;
        ul {
            margin: 0; padding: 0;
            li {
                list-style: none;
                display: block;
                width: 100%; height: @nav-width;
                a {
                    .__icon();
                    color: white;
                    display: block;
                    width: 100%; height: 100%;
                    text-align: center;
                    font-size: 23px;
                    padding-top: 11px;
                    &:hover {
                        background-color: lighten(@secondary-color, 5%);
                    }
                    &.active {
                        background-color: @primary-color;
                    }
                    &.home {
                        .__icon-home();
                    }
                    &.invoices {
                        .__icon-list();
                    }
                    &.clients {
                        .__icon-group();
                    }
                    &.calendar {
                        .__icon-calendar();
                    }
                    &.settings {
                        .__icon-cog();
                    }
                }
            }
        }
    }
    > [role=main] {
        padding: @gap @gap+@menu-width @gap @gap+@nav-width;
    }
    > [role=menu] {
        position: fixed; top: 0; right: 0;
        width: @menu-width; height: 100%;
        background-color: @light-gray;
        border-left: solid 1px @border-color;
        h1 {
            margin: 0px;
            padding: @gap @gap 10px;
            font-size: 26px;
            font-weight: 300;
        }
        ul {
            margin: 0; padding: 0;
            li {
                list-style: none;
                display: block;
                a,
                span {
                    display: block;
                    cursor: pointer;
                    padding: 5px @gap 7px;
                    color: @text-color;
                    font-weight: 300;
                    &:hover {
                        color: @primary-color;
                    }
                }
            }
        }
    }
    #popups {
        width: 100%; height: 100%;
        position: fixed; top: 0; left: 0;
        z-index: 200;
        background-color: rgba(0,0,0,0.5);
        display: none;
        > div {
            @gap: 15px;
            width: 600px;
            display: none;
            margin: 50px auto;
            background-color: @secondary-color;
            color: @light-gray;
            header {
                font-size: 22px;
                border-bottom: solid 2px #222;
                padding: @gap;
                position: relative;
                button {
                    position: absolute; top: 0; right: 0;
                    appearance: none;
                    background: none;
                    border: none;
                    padding: @gap;
                }
            }
            .content {
                padding: @gap;
                p {
                    margin-top: 0;
                    margin-bottom: @gap;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                form {
                    input,
                    textarea,
                    select {
                        background-color: @secondary-color;
                        width: 100%;
                        border: solid 2px #222;
                    }
                    select {
                        appearance: none;
                    }
                    label {
                        display: block;
                        margin-bottom: 4px;
                    }
                    > div {
                        margin-bottom: @gap;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            footer {
                border-top: solid 2px #222;
                text-align: right;
                button, a {
                    appearance: none;
                    border: none;
                    background: none;
                    color: @light-gray;
                    padding: @gap;
                    border-left: solid 2px #222;
                    font-weight: 300;
                }
            }
        }
    }
}
